<div class="container-fluid">
  <h2 class="text-center">Write a Quote</h2>
  <h5>Inspire someone today!</h5>
  <hr>
  <form (ngSubmit)='submitQuote()'#quoteForm='ngForm'>
    <div class="form-group">
  
      <label for="quote">Quote</label><br>
      <textarea class="form-control" id="quote" rows="4" required></textarea>
  
    </div>
    <br>

    <div class="form-group">
  
      <label for="author">Author</label><br>
      <input type="text" required class="form-control" id="author" >
     
    </div>
    <br>

    <div class="form-group">
  
      <label for="submittedBy">Submitted By</label><br>
      <input type="text" required class="form-control" id="submittedBy">
  
    </div>
    <br>

    <div class="form-group">
            
      <label for="date">Date</label><br>
      <input type='date' id="date" required>
  
    </div>
    <br>
    <button type="submit" class="btn btn-success">ADD QUOTE</button>
  </form>
</div>
